# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
venv/
.env

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
logs/

# Certificates and keys
certificates/*.json
certificates/spdf/*.pdf
certificates/uspdf/*.pdf
keys/*.pem

# Models
models/*.pkl

# Misc
*.png
*.db
